<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>React first webiste</title>
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.libsPath %>css/bootstrap.min.css" />
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.stylePath %>" />
  <script src="<%= htmlWebpackPlugin.options.libsPath %>js/jquery.min.js"></script>
  <script src="<%= htmlWebpackPlugin.options.libsPath %>js/bootstrap.min.js"></script>
</head>

<body>
  <div id="page"></div>
</body>

</html>